.intro {
    margin-top:110px;
    position: absolute;
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
}

.marginTop{
margin-top: 1vh;
}

.paddingAll{
    padding: 2vh;
}

/***************************** HOME AWAY LOGIN CSS*****************************************/
.formHeading{
    border-bottom: 1px solid #dbdbdb;
    color:#888888;
    text-align: left;
}

.formContainer{
    background-color: #FFF;
    padding:20px 20px 20px 20px;
    border-radius: 5px;
    border:1px solid #dbdbdb;
    margin-bottom: 40px;
    color:black;
}

.form_element{
    /* padding: 20px; */
    margin:20px 0px 20px 0px;
    border-radius: 0;
}

.float_left{
    float:left;
}

.loginHeader{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
}

.orangeColor{
    color:#FFF;
}

.btn_login{
    background-color: #ff8a00;
    vertical-align: middle;
    padding:10px;
    color:white;
}

.btn_fb{
    background-color: #3B5998;
    padding:10px;
    color:white;
}
.btn_google{
    background-color: lightgray;
    padding:10px;
    color:black;
}

.form_footer{
    font-size: 10px;
}
