.bg_div{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
      background-color: #f1f1f1;
    /* background: url("../../images/1.jpg") no-repeat center center; */
    background-size: cover;
  background-attachment: fixed; 
  }

  
.intro {
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Julius Sans One', sans-serif;
}
